.jbxx{
height:auto;
text-align:center;
background-color:#fff;
border: 1px solid #E6E6FA;
padding: 10px 40px;
-webkit-box-shadow: #666 0px 0px 2px;
-moz-box-shadow: #666 0px 0px 2px;
box-shadow: #666 0px 0px 2px;
behavior: url(/PIE.htc);

}
.dywj{
height:auto;
margin-top:10px;
text-align:center;
background-color:#fff;
border: 1px solid #E6E6FA;
padding: 10px 40px;
-webkit-box-shadow: #666 0px 0px 2px;
-moz-box-shadow: #666 0px 0px 2px;
box-shadow: #666 0px 0px 2px;
behavior: url(/PIE.htc);

}

.js{
height:auto;
margin-top:10px;
text-align:center;
background-color:#fff;
border: 1px solid #E6E6FA;
padding: 10px 40px;
-webkit-box-shadow: #666 0px 0px 2px;
-moz-box-shadow: #666 0px 0px 2px;
box-shadow: #666 0px 0px 2px;
behavior: url(/PIE.htc);

}


.zfxq{
margin-top:20px;
background-color:#fff;
border: 3px solid #E6E6FA;
padding: 20px 0;
text-align: center; 
-webkit-box-shadow: #666 0px 0px 2px;
-moz-box-shadow: #666 0px 0px 2px;
box-shadow: #666 0px 0px 2px;
behavior: url(/PIE.htc);
overflow:hidden; 
	
}